		<div class="side-a">
			<div class="s-t">关键词</div>
			<ul class="tags clearfix">
				<% @tags.each do |tag| %>
				<li><a href="<%= tag.show_url %>"><%= tag.name %></a></li>
				<% end %>
			</ul>
		</div>
		<!--div class="side-b">
			<div class="s-t">器件</div>
		</div-->