<div class="clearfix">
	<div class="main">
		<div class="s-t"><%= @tag.name %></div>
		<ul class="i-news-list">
			<%= render :partial => "/partials/topic_list" %>
		</ul>
		<%= will_paginate @topics %>
	</div>
	<div class="side">
		<%= render :partial => "/partials/side" %>
	</div>
</div>