<!DOCTYPE html>
<html>
<head>
  <title>Maker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wapper">
<div id="Container">
	<div id="Header">
		<h1><a href="/">Maker</a></h1>
	</div>
	<div id="PageBody">
<%= yield %>
	</div>
	<div id="Footer">
		<div class="foot">&copy; 2013</div>
	</div>
</div>
</div>
</body>
</html>
